

.group-drawer {
    width: 25vw;
    display: inline-block;
    border: 1px solid #ff6ad1;
    margin: 10px;
    height: 100px;
    padding: 10px;
    .display-name{
        display: inline-block;
        width: 70%;
    }
    .display-count{
        display: inline-block;
        width: 20%;
    }
}