<div>
    <div class="update-stockForm" *ngIf="!shouldUpdateStockorCalculateUnit">
        <button  (click)="showUpdateStockForm()">Update Stock Now</button>
        <button  (click)="updateStockorCalculate(true)">Calculate Units</button>
    </div>
    <div class="update-stockForm" *ngIf="shouldUpdateStockorCalculateUnit">
        <select [(ngModel)]="stockUpdateGroup">
            <option value="">Select Blood Group</option>
            <option *ngFor="let group of allGroups" value="{{group}}">{{currentSockInBank[group].displayName}}</option>
        </select>
        <input type="number" [(ngModel)]="stockUpdateCount" placeholder="add count" />
        <button class="update-btn" (click)="updateStockorCalculate(false)">update Stock</button>
        <button class="update-btn" (click)="closeForm()">Close</button>
    </div>
    <div *ngFor="let group of allGroups" class="group-drawer">
        <div class="display-name">{{currentSockInBank[group].displayName}}</div>
        <div class="display-count">{{currentSockInBank[group].currentStock}}</div>
    </div>
</div>